body {
  font-family: 'Lato', sans-serif;
  background-color: #f0ebe0;
  margin: 0;
  padding: 0;
  color: #333;
}


header {
  padding: 15px 20px;
}
.logo {
  display: flex;
  gap: 8px;
}

.logo img {
  width: 35px;
  height: auto;
}


.hero {
  text-align: center;
  padding: 10px 0;
}

.hero-image {
  width: 300px;
  height: auto;
}

.horse-small {
  display: block;
  margin: 5px auto;
  width: 60px;
  height: auto;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}

.horse-small:hover {
  animation: mecer 0.6s ease-in-out infinite;
}

@keyframes mecer {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(15deg); }
  75%  { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.titulo {
  text-align: center;
  padding: 20px 0 10px 0;
}

.titulo h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  color: #2c2c2c;
  margin: 0;
}


.subtitulo-japones {
  text-align: center;
  padding: 5px 20px 15px 20px;
}

.subtitulo-japones p {
  font-size: 0.85rem;
  color: #555;
  margin: 0;
}


.descripcion {
  max-width: 650px;
  margin: 0 auto 30px auto;
  background-color: rgba((186,202,209));
  border-radius: 8px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.descripcion p {
  font-size: 0.9rem;
  line-height: 1.7;
  text-align: center;
  color: #444;
  margin: 0;
}


.galeria {
  display: flex;          
  justify-content: center; 
  gap: 20px;              
  padding: 10px 40px 40px 40px;
}

.galeria img {
  width: 45%;             
  max-width: 280px;
  height: 200px;
  object-fit: cover;      
  border-radius: 4px;
}


footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

footer p {
  font-size: 0.75rem;
  color: #666;
  margin: 4px 0;
}